<div class="media">
	<div class="col-xs-6 col-md-offset-3">
	<% if @article.comments.blank? %>
		<%=  I18n.t("noComment") %>
	<% else %>
		<div>
		<% @article.comments.each do |comment| %>
		
		  <div class="media-left">
		  	<%= image_tag(comment.user.avatar_url) if comment.user.avatar? %>
		  
		  </div>
		  <div class="media-body">
	    	<h4 class="media-heading">
		    	<%= comment.name %> &lt;<%= comment.user.email %>&gt; <%= I18n.t("said") %>: 
		    </h4>
		    	<%= comment.body %>
		  </div>
		  <div class="media-footer">
		  	<div class="text-right">
		  	  	<% if @article.owned_by? current_user %>
		   	   		<%= link_to 'Delete', [@article, comment], :confirm => 'Are you sure?', :method => :delete, class: "btn btn-default btn-xs" %>
		  		<% end %>
		   	</div>
		  </div>
		<% end %>
	<% end %>
	</div>
</div>
