<%= form_tag(notify_friend_article_path(@article), :id => 'notify_friend_form', :style => 'display:none') do %>
  <div class="form-inline text-center">
    <div class="form-group">
      <div class="field">
        <%= label_tag :name, I18n.t("Your name") %>
        <%= text_field_tag :name %>
      </div>
    </div>
    <div class="form-group">
      <div class="field">
        <%= label_tag :email, I18n.t("Your friend's email") %>
        <%= text_field_tag :email %>
      </div>
    </div>
    <div class="form-group">
      <div class="actions">
        <%= submit_tag I18n.t("send") %> <%=I18n.t("or")%>
        <%= link_to I18n.t("cancel"), '#', :onclick => "$('#notify_friend_form').slideUp()" %>
    </div>
  </div>
</div>
<% end %>