<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class='container'>
    <div class="pull-right"><%= I18n.t("language") %> :<%= language_selector %></div>
    <div class="jumbotron">
      <h1><%= I18n.t("myblog") %></h1>
    </div>
          <div class="navbar">
            <div class="navbar-inner">
              <div id="user_bar">
                <% if logged_in? %>
                <ul class="nav nav-tabs">
                  <li><%= link_to I18n.t("Listing article"), root_path %></li>
                  <li><%= link_to I18n.t("New article"), new_article_path %></li> 
                  <li><%= link_to I18n.t("Edit Password"), edit_user_path(current_user) %></li> 
                  <li><%= link_to I18n.t("Logout"), logout_path %></li>
                  <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                     Recherche par catégorie <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <% Category.all.each do |cat| %>
                       <li><%= link_to cat.name , search_path(cat.id) %></li>
                       <% end %>
                    </ul>
                </li>
                </ul>
                <% else %>
                  <%= link_to I18n.t("Login"), login_path %>
                <% end %>
              </div>

      </div>
    </div>

        <div id="main">
          <%= content_tag(:p, notice, :class => 'notice') if notice.present? %>
          <%= content_tag(:p, alert, :class => 'alert') if alert.present? %>
          <%= yield %>
        </div>
        <div class="footer pull-right">
          Pied de page <a href="http://google.com">Google</a>
        </div>
</div>
</body>
</html>